body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: white;
  }

  .container {
    text-align: center;
    width: 500px;
    padding: 50px;
    margin-top: 50px;
    background-color: whitesmoke;
    border-radius: 5px;
  }

#imgInfinito{
    width: 200px;
    margin-top: -20px;
}