.top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
  }
  
  .top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    padding: 8px;
    margin-left: 5px;
    font-size: small;
    display: flex;
    align-items: center;
  }
  
  .top-right select {
    margin-right: 5px;
    background-color: black;
    color: white;
    font-size: smaller;
  }
  
  .top-right label {
    background-color: red;
    padding: 2px 5px;
    border-radius: 2px;
  }

.header p {
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: rgb(189, 187, 187);
  background-color: black;
}

hr {
  margin-top: 20px;
  border: none;
  height: 2px;
  background-color: rgb(30, 30, 65);
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  margin-top: 30px;
}

.text {
  text-align: center;
}

.container h1,
h2 {
  color: white;
  margin: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 5;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

label {
  color: white;
  background-color: red;
  padding: 9px;
  margin-left: 5px;
  border-radius: 2px;
}

.input-wrapper input[type="text"] {
  background-color: white;
  color: black;
  padding: 10px;
  width: 300px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
}

.input-wrapper input[type="text"]::placeholder {
  color: white;
  opacity: 0.5;
}

.backgrounded {
  color: white;
  background-color: rgb(49, 49, 49);
  padding: 6px;
  font-weight: bold;
  border-radius: 2px;
}
